 <div class="about-page">
<!--
<a href='/' style="color:white;" class="Home back-button js-headline"> Home</a> -->
  <a href='/' style="color:white; z-index:1000" class="back-button js-headline">Home</a>
  <a href='/about' style="color:white;" class="work js-headline">About</a>

    <nav class='nav-sp'>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  <ul class = 'nav-link-sp'>
    <li class = 'link'><%= link_to 'about', about_path %></li>
    <li class = 'link'><%= link_to 'works', works_path %></li>
    <li class = 'link'><%= link_to 'inspirations', inspirations_path %></li>
    <li class = 'link'><a href="">contact</a></li>
  </ul>
  </nav>



   <%= image_tag "Daisy.png", :class => "daisy-on-text" %>
  <div class="work_big_title">Selected Work</div>
 <!--  <%= image_tag "Daisy.png", :class => "top-daisy" %> -->

  <div class="intro-about">
    <div id="universe" style = "top: 0%;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 80%;
    left: 0%;">
      <div id="galaxy">

      <div id="sun">
      </div>

        <div id="mercury" class="orbit">
        <div class="pos">
            <div class="planet"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
   <%= image_tag "white_cloud.svg", :class => "work_cloud" %>




  </div>
