 <div class="about-page">
  <div class='PDP-header nav-head ' style="background-color:white; z-index:0">
    <%= image_tag "back_arrow_small.svg", :class => "cookpal_nav_arrow js-headline back-button" %>
     <%= link_to root_path, :class => "logo_linlu js-headline", target: "_blank" do %>
     <%= image_tag "Logo_lin.svg", :class => "js-headline" %>
     <% end %>
    <a href='/about' style="color:#7d727b; text-shadow: none;" class="cookpal_nav_about work js-headline">Up to Next: Simplicruit</a>
</div>

<%= image_tag "work_cookpal_cover.svg", :class => "" %>

    <nav class='nav-sp'>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  <ul class = 'nav-link-sp'>
    <li class = 'link'><%= link_to 'about', about_path %></li>
    <li class = 'link'><%= link_to 'works', works_path %></li>
    <li class = 'link'><%= link_to 'inspirations', inspirations_path %></li>
    <li class = 'link'><a href="">contact</a></li>
  </ul>
  </nav>


<div class='cookpal_intro_copy'>
  <div class="cookpal_big_title">Cookpal</div>
   <div class ="cookpal_headline"> - Sharing cooking experience with people -</div>
    <div class="cookpal_intro">
    <p>Role: UX/UI Designer</p>
    <p>Tool: Photoshop, Sketch</p>
    <p>Duration: 2020 Jul</p>
  </div>
  <div class= "downward js-headline cookpal-down">
    <%= image_tag "downward.svg", :class => "js-headline cookpal-down" %>
  </div>
</div>
</div>


  <nav class="navbar_cookpal">
  <ul>
  <li>
    <a href="#overview" class="dot overview active" data-scroll='overview'>
      <span>Overview</span>
    </a>
  </li>
  <li>
    <a href="#research" class="dot research" data-scroll='research'>
      <span>Research</span>
    </a>
  </li>
  <li>
    <a href="#problem" class="dot problem" data-scroll='problem'>
      <span>Problem</span>
    </a>
  </li>
  <li>
    <a href="#userflow" class="dot userflow" data-scroll='userflow'>
      <span>User flow</span>
    </a>
  </li>
  <li>
    <a href="#styleguide" class="dot styleguide" data-scroll='styleguide'>
      <span>Styleguide</span>
    </a>
  </li>
    <li>
    <a href="#styleguide" class="dot visual" data-scroll='visual'>
      <span>Visual</span>
    </a>
  </li>
  </ul>
  </nav>

 <div class="sec" id='overview'>

    <div class ="cookpal_overview_intro"> Cookpal is a mobile app where end-users can become cook buddies sharing cooking expeirence together or to sell catering service.</div>
    <div class="cookpal_intro_pic">
    <%= image_tag "intro_pic.svg", :class => "intro_pic_cp" %>
    </div>
     <div class ="cookpal_overview_intro">Sometimes you want to try cooking at home but feel that your cooking skills are limited or feel a little lonely cooking alone, thinking if someone can cook with you and then share the results together how good it will be!</div>
     <div class ="cookpal_overview_intro" style = "padding-top:1em;">Or you want to organize a dinner party, but you are so worried that you can not prepare a satisfying meal. This is the time when you would like to find a good homecook to come to your place providing catering services</div>
     <div class ="cookpal_overview_intro"><b style="color: #717192;">Cookpal</b> is the solution to those problems around your kitchen.</div>
 </div>



 <div class="sec" id='research'>
   <div class ="cookpal_headline popupHl" style="padding-top:32px;"> - Empathize with users and conduct user research -</div>
    <div class ="cookpal_overview_intro">The whole design process is based on "Design thinking" framework.</div>
   <div class="cookpal_overview_intro subheadline" style="text-align: left;"><b style="color: #5c4b63;">01</b> Interview</div>
   <div class="cookpal_overview_intro subheadline" style="text-align: left;">People spend more time than ever since the pandemic though some cities returned the semblance of normality,
   dining at home has become more popular than ever. I recruited 10 people with
 different age and culinary experience for better generalizability, and conducted interviews with them.</div>
  <div class="cookpal_overview_intro subheadline" style="text-align: left;"><b style="color: #5c4b63;">02</b> Empathy Map</div>
   <div class="cookpal_overview_intro subheadline" style="text-align: left;"> The next step is to synthesize data collected from interview process. Visualizing user attitudes and behaviors in an empathy map helps to align on a deep understanding of end users.</div>
   <div class="cookpal_intro_pic"> <%= link_to image_tag("Empathy_mapping.svg", :alt => "Image", :class => "cookpal_empathy_map" ), image_path("Empathy_mapping.svg") %></div>
  </div>
  <div class="sec" id='problem'>
    <div class ="cookpal_headline popupHl" style="padding-top:32px;"> - Create persona and define the problem -</div>

    <div class ="cookpal_overview_intro">After coding the responses from the interviews and came up with the empathy map, I found that
      there were two other frequently mentioned elements - homecook for <b style="color: #717192;"> healthy diet </b>and <b  style="color: #717192;">cooking in a social sense</b>.
      People deem finding a cook buddy and cooking together can be beneficial in two ways - more efficient to prepare a healthy meal at home also a good way to socilaize.
    </div>
    <div class="cookpal_overview_intro subheadline" style="text-align: left;"><b style="color: #5c4b63;">01</b> Persona</div>

      <div class="cookpal_intro_pic"><%= link_to image_tag("persona.svg", :alt => "Image", :class => "intro_pic_cp" ), image_path("persona.svg") %></div>
      <div class="cookpal_overview_intro subheadline" style="text-align: left;"><b style="color: #5c4b63;">02</b> Problem statement</div>
       <div class="cookpal_overview_intro subheadline" style="text-align: left;">With the problem statement, it helped me to establish user goal, understand user constraints and define the deliverables  </div>
      <%= image_tag "quote_marks_start.svg", :class => "quote_mark_start" %>
      <div class="cookpal_overview_intro subheadline" style="text-align: left;">Alice is a work-from-home illustrator who needs to find a cook buddy to share a cooking experience together, because she prefers homemade food and would like to fulfils her socialization purpose through cooking.</div>
      <%= image_tag "quote marks_end.svg", :class => "quote_mark_end" %>
  </div>
  <div class="sec" id='userflow'>
     <div class ="cookpal_headline popupHl" style="padding-top:32px;"> - User Flow - </div>
       <div class="cookpal_intro_pic"><%= link_to image_tag("user_flow.png", :alt => "Image", :class => "intro_pic_cp" ), image_path("user_flow.png") %></div>
  </div>
  <div class="sec" id='styleguide'>
     <div class ="cookpal_headline popupHl" style="padding-top:32px;"> - Styleguide - </div>
      <div class="cookpal_intro_pic"><%= link_to image_tag("styleguide.svg", :alt => "Image", :class => "intro_pic_cp" ), image_path("styleguide.svg") %></div>
  </div>

<div class="sec" id='visual'>
  <div class ="cookpal_headline popupHl" style="padding-top:32px;"> - Visuals -</div>
  <%= image_tag "bg1.svg", :class => "bg1_cookpal" %>
  <%= image_tag "cp_iphone_01.svg", :class => "cp_iphone_01" %>
</div>
