 <div class="about-page">
  <div class='nav-head' style="background-color:white; z-index:1">
    <%= image_tag "back_arrow_small.svg", :class => "cookpal_nav_arrow js-headline" %>
    <a href='/' style="color:#7d727b; z-index:1" class="cookpal_nav_home back-button js-headline">Home</a>
    <a href='/about' style="color:#7d727b;" class="cookpal_nav_about work js-headline">About</a>
</div>
<!--
<a href='/' style="color:white;" class="Home back-button js-headline"> Home</a> -->
<%= image_tag "work_cookpal_cover.svg", :class => "" %>

    <nav class='nav-sp'>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  <ul class = 'nav-link-sp'>
    <li class = 'link'><%= link_to 'about', about_path %></li>
    <li class = 'link'><%= link_to 'works', works_path %></li>
    <li class = 'link'><%= link_to 'inspirations', inspirations_path %></li>
    <li class = 'link'><a href="">contact</a></li>
  </ul>
  </nav>


<div class='cookpal_intro_copy'>
  <div class="cookpal_big_title">Cookpal</div>
  <div class='cookpal_micro_copy'>Find a pal to share cooking experience</div>
  <div class= "downward js-headline cookpal-down">
    <%= image_tag "downward.svg", :class => "js-headline" %>
  </div>
</div>





  </div>
