


 <div class="about-page">



    <nav class='nav-sp'>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  <ul class = 'nav-link-sp'>
    <li class = 'link'><%= link_to 'about', about_path %></li>
    <li class = 'link'><%= link_to 'works', works_path %></li>
    <li class = 'link'><%= link_to 'inspirations', inspirations_path %></li>
    <li class = 'link'><a href="mailto:linlu1996@gmail.com">contact</a></li>
  </ul>
  </nav>
   <nav class="navbar_home">
      <%= link_to root_path, :class => "brand_logo" , target: "_blank" do %>
      <%= image_tag "Logo_lin.svg", :class => "js-headline" %>
      <% end %>
  <ul class = 'nav-link'>
      <li class = 'link1'><%= link_to 'about', about_path %></li>
      <li class = 'link2' style="border-bottom:1px solid #bea9c3;"><%= link_to 'works', works_path %></li>
     <!--  <li class = 'link3'><%= link_to 'inspirations', inspirations_path %></li> -->
      <li class = 'link4'><a href="mailto:linlu1996@gmail.com" target="_blank">contact</a></li>
  </ul>
  </nav>


  <div class="work_big_title"></div>
  <div class = 'skill_copy' style="">The <span id="placeholder"></span></div>

  <div class="intro-about">
    <div id="universe" style = "top: 0%;
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;">
      <div id="galaxy">

      <div id="sun" style = "top: 50%; left: 50%;  width: 0.5em;  height: 0.5em; margin-top: -0.25em;  margin-left: -0.25em; ">
      </div>

        <div id="mercury" class="orbit" style = "
width: 5em;
height: 5em;
margin-top: -2.5em;
margin-left: -2.5em;">
        <div class="pos">
            <div class="planet" style = " width: 0.5em;height: 0.5em; margin-top: -0.25em; margin-left: -0.25em;
"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
   <%= image_tag "white_cloud.svg", :class => "work_cloud" %>

   <div class="work_greeting">
<!--    <div class= "work_greeting_messaging" style=";">
 Bringing happiness and convenience to people through user-centered design
   </div> -->
   </div>


<!--     <div class= "work_downward js-headline">
    <%= image_tag "downward.svg", :class => "js-headline" %>
  </div> -->

  </div>



  <div class="portfolio" style="height:auto;">
  <div class="thumbnail" style="background-color:;">
   <%= link_to works_cookpal_path, :class => "", target: "_blank" do %>
   <%= image_tag "cookpal_cover_updated.svg", :class => "cover js-headline" %>
   <% end %>
  </div>
  <div class="introduction1" style="background-color:;" >
    <!-- <div class = "title js-headline">cookpal </div> -->
    <%= link_to 'Cookpal', works_cookpal_path, :class => 'title js-headline', target: "_blank"%>
    <div class = "sub-title">
    <p> Mobile app Design</p>
    <p>User Research</p>
    <p>Individual project</p>
  </div>
 </div>

   <div class="thumbnail" style="background-color:;">
   <%= link_to works_simplicruit_path, :class => "", target: "_blank" do %>
   <%= image_tag "simplicruit_cover.svg", :class => "cover js-headline" %>
   <% end %>
  </div>
  <div class="introduction1" style="background-color:;" >
    <!-- <div class = "title js-headline">Simplicruit </div> -->
     <%= link_to 'Simplicruit', works_simplicruit_path, :class => 'title js-headline', target: "_blank"%>
    <div class = "sub-title">
    <p> Web app Design</p>
    <p>User Research</p>
    <p>Team project</p>
  </div>
 </div>


<div class="thumbnail" style="background-color:;">
   <%= link_to works_cookpal_path, :class => "", target: "_blank" do %>
   <%= image_tag "aha_cover.svg", :class => "cover js-headline" %>
  <% end %>
</div>
  <div class="introduction1" style="background-color:;" >
    <!-- <div class = "title js-headline">CX Report</div> -->
     <%= link_to 'CX Report', works_simplicruit_path, :class => 'title js-headline', target: "_blank"%>
    <div class = "sub-title">
    <p> User Research</p>
    <p>Branding strategy</p>
    <p>Team project</p>
  </div>
 </div>

  </div>

  <small class='footcopy' style="position:absolute; width:100%; text-align: center; background-color: #f3e3ea; padding-bottom:12px ">Design & Code with ❤ by Linlu©Copyright 2021</small>
