

  <div class="about-page">
<!--   <nav>
  <ul class = 'nav-link'>
      <li class = 'link1' style="font-weight:700;"><%= link_to 'about', about_path %></li>
      <li class = 'link2'><%= link_to 'works', works_path %></li>
      <li class = 'link3'><%= link_to 'resume', services_path %></li>
      <li class = 'link4'><a href="">contact</a></li>
  </ul>
  </nav> -->
  <%= link_to works_path, :class => "back-button" do %>
      <%= image_tag "bubble.svg", :class => "back-button" %>
  <% end %>
  <%= link_to 'Back', works_path, :class => "back-button"  %>
  <div class="big_title">ABOUT ME</div>
  <div class="intro">
    <div id="universe" style = "top: 0%;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 80%;
    left: 0%;">
      <div id="galaxy">

      <div id="sun">
      </div>

        <div id="mercury" class="orbit">
        <div class="pos">
            <div class="planet"></div>
          </div>
        </div>

      </div>
      <div></div>
    </div>
  </div>
  </div>
  <div class="intro-text">Hi! My name is Linlu</div>


