

  <div class="about-page">
<!--   <nav>
  <ul class = 'nav-link'>
      <li class = 'link1' style="font-weight:700;"><%= link_to 'about', about_path %></li>
      <li class = 'link2'><%= link_to 'works', works_path %></li>
      <li class = 'link3'><%= link_to 'resume', services_path %></li>
      <li class = 'link4'><a href="">contact</a></li>
  </ul>
  </nav> -->
 <!--  <%= link_to root_path, :class => "back-button js-headline" do %>
      <%= image_tag "back_arrow.svg", :class => "back-button" %>
  <% end %> -->
  <a href='/' style="color:white;" class="back-button js-headline">Home  </a>
  <a href='/works' style="color:white;" class="work js-headline">Works</a>
   <%= image_tag "Daisy.png", :class => "daisy-on-text" %>
  <div class="big_title">ABOUT ME</div>
 <!--  <%= image_tag "Daisy.png", :class => "top-daisy" %> -->
   <%= image_tag "chat_left.svg", :class => "chat" %>
  <div class="intro-about">
    <div id="universe" style = "top: 0%;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 80%;
    left: 0%;">
      <div id="galaxy">

      <div id="sun">
      </div>

        <div id="mercury" class="orbit">
        <div class="pos">
            <div class="planet"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
   <%= image_tag "white_cloud.svg", :class => "cloud" %>
   <div class= "greeting">Hi, I'm Linlu. I <span id="inputWords"></span></div>
   <div class= "downward js-headline">
    <%= image_tag "downward.svg", :class => "js-headline" %>
  </div>
  </div>




  <div class="intro-text" id="intro">

    <div class="txt-pic">

<div class="introduction">
      <big>Hi</big> ! <span>My name is Linlu.</span> <br><span>I am a multi-disciplinary designer based in Tokyo.</span><br>
  <span>I majored in architecture at Tulane. After graduation I had been working as UX/UI generalist in SaaS industry, prototyping, designing and front-end developing. Currently, I am working as UX specialist, executing strategic testing initiatives, analyzing and proposing design solutions to improve conversion rate at Kaspersky Lab. </span><br><span>I served clients including</span> <a href="https://help.hulu.jp/hc/ja" target=”_blank” class = "js-headline" style="color:#3b4c58; text-decoration: underline;">Hulu JP</a>, <a>NTTPC<a/>,<a href="https://help.fod.fujitv.co.jp/hc/ja?_ga=2.184503712.76009761.1618831873-644560982.1618831870" target=”_blank” class = "js-headline" style="color:#3b4c58; text-decoration: underline;"> Fuji TV</a>, <span>and</span> <a href="https://faq-storee.saisoncard.co.jp/hc/ja" class = "js-headline" target=”_blank” style="color:#3b4c58; text-decoration: underline;">Saison</a> <span>helping them to revamp their help centers.
  As a life-learner, I keep honing my design and coding skills. The goal of bringing people delight and well-being through good design motivates me everyday.</span>

</div>


    <div>

      <%= image_tag "picture_bw.png", :class => "self-picture" %>
      <%= image_tag "blue_ribbon.svg", :class => "ribbon" %>
      <%= image_tag "Daisy.png", :class => "daisy" %>
      <%= image_tag "white_cloud.svg", :class => "cloud_pic" %>
   </div>


   </div>

  </div>








<div class="skill_block">
<div> </div>
<div class='boardbox'>
  <div class="whiteboard_left slide-in from-left container-board">
    <%= image_tag "whiteboard1.png", :class => "whiteboard_left slide-in from-left" %>
    <div class="text-over-board left">- Heuristic evaluation <br>- Competitor analysis<br>- User testing<br>- A/B Testing<br>- Prototype</div>
  </div>
 <%= image_tag "whiteboard2.png", :class => "whiteboard_center" %>
  <%= image_tag "whiteboard3.png", :class => "whiteboard_right slide-in from-right" %>
</div>
<div class="himaonbranch">
 <%= image_tag "budgie.png", :class => "hima" %>
   <%= image_tag "branch.png", :class => "branch" %>
</div>

</div>


