

  <div class="about-page">
<!--   <nav>
  <ul class = 'nav-link'>
      <li class = 'link1' style="font-weight:700;"><%= link_to 'about', about_path %></li>
      <li class = 'link2'><%= link_to 'works', works_path %></li>
      <li class = 'link3'><%= link_to 'resume', services_path %></li>
      <li class = 'link4'><a href="">contact</a></li>
  </ul>
  </nav> -->
  <%= link_to root_path, :class => "back-button" do %>
      <%= image_tag "back_arrow.svg", :class => "back-button" %>
  <% end %>
   <%= image_tag "Daisy.png", :class => "daisy-on-text" %>
  <div class="big_title">ABOUT ME</div>
  <%= image_tag "Daisy.png", :class => "top-daisy" %>
  <div class="intro-about">
    <div id="universe" style = "top: 0%;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 80%;
    left: 0%;">
      <div id="galaxy">

      <div id="sun">
      </div>

        <div id="mercury" class="orbit">
        <div class="pos">
            <div class="planet"></div>
          </div>
        </div>

      </div>
      <div></div>
    </div>
  </div>
  </div>
  <div class="intro-text">
     <%= image_tag "leaf.png", :class => "leaf" %>
  <div class="txt-pic">
    <div class="introduction">
      <big>Hi</big> ! My name is Linlu. <br>I am a multi-disciplinary designer based in Tokyo.<br>
  I majored in architecture at college. After graduation I have been working as a UX/UI designer in SaaS industry, executing strategic testing initiatives, analyzing and validaing UX insights through testing. <br>I served clients including Hulu JP, Fuji TV, and Saison helping them to revamp their help centers.
  I am a life-learner, being passion about next-leveling my design and coding skills. The goal of expanding my knowledge and expertise motivated me to make a progress everyday.<br>
  <big>Thanks</big> !
    </div>
    <div class="pic_group">
      <%= image_tag "blue_ribbon.svg", :class => "ribbon" %>
      <%= image_tag "picture_bw.png", :class => "self-picture" %>
      <%= image_tag "Daisy.png", :class => "daisy" %>

    </div>
  </div>
   <%= image_tag "budgie.png", :class => "hima" %>
   <%= image_tag "branch.png", :class => "" %>


  </div>


